<!DOCTYPE html>
<html lang="">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- ===========================
THEME INFO
=========================== -->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<!-- ===========================
SITE TITLE
=========================== -->
<title>Automatic Survey Paper Generation</title>

<!-- ===========================
FAVICONS
=========================== -->
<!--<link rel="icon" href="img/favicon.png">-->
{% load static %}
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-ipad-retina.png' %}" />
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-iphone-retina.png' %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-ipad.png' %}" />
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-iphone.png' %}" />

<!-- ===========================
STYLESHEETS
=========================== -->
<script src="https://kit.fontawesome.com/a3d039cc94.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'css/fontawesome-free-5.13.0-web/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-free-5.13.0-web/css/brands.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-free-5.13.0-web/css/solid.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<!-- ===========================
FONTS & ICONS
=========================== -->
<!--<link href='http://fonts.googleapis.com/css?family=Kristi|Alegreya+Sans:300' rel='stylesheet' type='text/css'>-->
<!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->



<!--[if IE]>
	<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
{% block body %}
<div class="container">
	<!-- ===========================
	HEADER
	============================ -->
	<div class="jumbotron">
		<h1 align="center" > Let Machine Write Surveys</h1>
		<h2 align="right"> --- Automatic Survey Paper Generation</h2>
		<br>
		<br>
	</div>
	<hr class="firsthr">


	<!-- ===========================
	HEADER
	============================ -->
	<div class="col-md-12">
		<h2 align="left"> <span class="fas fa-sitemap"></span>  Workflow of the Demo: </h2>
			<div align="center">
				<img src="{% static 'img/workflow.png' %}" style="width:800px;height:350px;", id="workflow_img" >
			</div>
		<br>
		<br>
	</div>
	<hr class="firsthr">

	<!-- ===========================
	CHOOSE TOPICS
	============================ -->
	<div class="col-md-12">
			<h2 align="left"> <span class="fas fa-tags"></span>  Choose a topic from: </h2>
			<div class="row">
				<!--<div class="col-md-1"></div>-->
				<div class="col-md-12">
					<form action="" method="post", id="topic_form">
						{% csrf_token %}
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option1" value="2742488"> Energy Efficiency in Cloud Computing
							</label>
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option2" value="2830555"> Cache Management for Real-Time Systems
							</label>
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option3" value="2907070"> Predictive Modeling on Imbalanced Data
							</label>
						</div>
						<br>
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option4" value="3073559"> Malware Detection with Data Mining
							</label>
							<label class="btn btn-default" style="height:80px">
								<!--<input name="topics" id="option6" value="" disabled>-->
							</label>
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option5" value="3274658"> Analysis of Handwritten Signature
							</label>

						</div>
						<br>

						<div style="text-align: center">
							<input class="btn btn-info" onclick="sub_topic()" value="Submit">
						</div>
						<!--ajax:    https://blog.csdn.net/u013398398/article/details/52136837-->
					</form>
				</div>
				<!--<div class="col-md-1"></div>-->
			</div>
	</div>

	<!-- ===========================
     References
    ============================ -->
	<div class="col-md-12" style="display: none" id="refs">
		<h2 align="left"> <span class="fas fa-copy"></span> Here are the most related references from our dataset: </h2>
		<form action="" method="post", id="ref_form">
			{% csrf_token %}
			<div class="list-group pre-scrollable" id="ref_list">
			</div>
		</form>
		<p align="right"> *(Select the references for instant survey generation)</p>
		<div style="text-align: center">
			<input class="btn btn-info" onclick="display_taxonomy()" value="Automatic Taxonomy">
		</div>
	</div>
	<hr class="firsthr">
	<!-- ===========================
     Taxonomy Result
    ============================ -->
	<div class="col-md-12" style="display: none" id="taxonomy">
		<h2 align="left"> <span class="fas fa-chart-pie"></span> The Clustering Result of Selected References is (re-ordered): </h2>
		<div class="row">
			<div class="col-md-7" style="height:500px;">
				<img src="{% static 'img/tsne_result.png' %}" style="width:500px;height:500px;", id="tsne_img">
			</div>
			<div class="col-md-5" style="height:500px;">
					<ul id="legend" style="position: relative;top: 100%;transform: translateY(-100%);">
					</ul>
			</div>
		</div>
		<br>
		<br>
		<hr class="firsthr">
		<div style="text-align: center">
			<input class="btn btn-info" onclick="display_survey()" value="Generate Survey Content" style="width: 200px">
		</div>
	</div>


	<!-- ===========================
     Generated survey
    ============================ -->
	<div class="col-md-12" style="display: none" id="survey">
		<h2 align="left"> <span class="fas fa-scroll"></span> Here is the generated survey: </h2>
		<div class="container pre-scrollable col-md-12" style="max-height: 700px" id="survey_content">
		</div>
	</div>


</div><!--container end-->

<!-- =========================== Script ============================ -->
{% block script %}
<script>
	var global_refs = {};
    function sub_topic(){
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "/get_topic",
			data: $('#topic_form').serialize(),
			success: function(result) {
				// alert(result);
				for (let i = 0, len = result['references'].length; i < len; i++) {
				// for (const v of result['references']) {
					document.getElementById("ref_list").innerHTML += "<div class=\"input-group\"><span class=\"input-group-addon\"><input name=\"refs\" type=\"checkbox\" value="+result['ref_ids'][i] + " checked></span><a href=" + result['ref_links'][i]+ " target=\"_blank\" class=\"list-group-item\">" + result['references'][i] + "</a></div>";
				}
				$("#refs").attr("style","display:inline;");
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.responseText);
				/*
				alert(jqXHR.status);
				alert(jqXHR.readyState);
				alert(jqXHR.statusText);
				alert(textStatus);
				alert(errorThrown);
				*/
			}
		});
	}


	function display_taxonomy(){
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "/automatic_taxonomy",
			data: $('#ref_form').serialize(),
			success: function(result) {
				// alert("Success!");
				for (let i = 0, len = result['colors'].length; i < len; i++) {
					document.getElementById("legend").innerHTML += "<li class=\"list-group-item\"; style=\"color: "+ result['colors'][i]+" \">" + result['category_label'][i]+" </li>"
				}
				$("#tsne_img").attr("src","{% static 'img/tsne_result.png' %}");
				$("#taxonomy").attr("style","display:inline;");
				// alert(result);
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.responseText);
			}
		});
	}



	function display_survey(){
		$.ajax({
			type: "GET",
			dataType: "json",
			url: "/get_survey",
			success: function(result) {
				// alert("Success!");
				// alert(result);
				for(var p in result) {
					if (p == "Title") {
						document.getElementById("survey_content").innerHTML+= "<h1>" + result[p] + "</h1>";
					} else if ((p == "Introduction") || (p == "Conclusion") || (p == "Abstract")) {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						document.getElementById("survey_content").innerHTML+= "<p>" + result[p] + "</p>";
					} else if (p == "References" ) {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						var cnt = 1;
						for (var entry in result[p]) {
							document.getElementById("survey_content").innerHTML+= "<p style=\"color:black;\">[" + cnt + "]" + "   " + result[p][entry] + "</p>";
							cnt = cnt + 1;
						}


					} else {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						document.getElementById("survey_content").innerHTML+= "<p>" + result[p][0] + "</p>";
						for(var inner_json in result[p][1]) {
							document.getElementById("survey_content").innerHTML+= "<h3>" + result[p][1][inner_json]["subtitle"] + "</h3>";
							document.getElementById("survey_content").innerHTML+= "<p>" + result[p][1][inner_json]["content"] + "</p>";
						}
					}
				}
				$("#survey").attr("style","display:inline;");
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.responseText);
				/*
				alert(jqXHR.status);
				alert(jqXHR.readyState);
				alert(jqXHR.statusText);
				alert(textStatus);
				alert(errorThrown);
				*/
			}
		});
	}

</script>
{% endblock%}


<!--necessary scripts and plugins-->
{% load static %}
<!--<script src="{% static 'scripts/jquery-1.8.3.min.js' %}"></script>-->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'scripts/evenfly.js' %}"></script>
{% endblock %}
</body>
<footer>
	<h5 align="center" > IMCL NLP Group</h5>
</footer>
</html>