<!DOCTYPE html>
<html lang="">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- ===========================
THEME INFO
=========================== -->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<!-- ===========================
SITE TITLE
=========================== -->
<title>Automatic Survey Paper Generation</title>

<!-- ===========================
FAVICONS
=========================== -->
<!--<link rel="icon" href="img/favicon.png">-->
{% load static %}
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-ipad-retina.png' %}" />
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-iphone-retina.png' %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-ipad.png' %}" />
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-iphone.png' %}" />

<!-- ===========================
STYLESHEETS
=========================== -->
<script src="https://kit.fontawesome.com/a3d039cc94.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'css/fontawesome-free-5.13.0-web/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-free-5.13.0-web/css/brands.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-free-5.13.0-web/css/solid.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<style>

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */

}
</style>

<!-- ===========================
FONTS & ICONS
=========================== -->
<!--<link href='http://fonts.googleapis.com/css?family=Kristi|Alegreya+Sans:300' rel='stylesheet' type='text/css'>-->
<!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->



<!--[if IE]>
	<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<![endif]-->
</head>

<body>
{% block body %}
<div class="container">
	<!-- ===========================
	HEADER
	============================ -->
	<div class="jumbotron">
		<h1 align="center" > Let Machine Write Surveys</h1>
		<h2 align="right"> --- Automatic Survey Paper Generation</h2>
		<br>
		<br>
	</div>
	<hr class="firsthr">


	<!-- ===========================
	HEADER
	============================ -->
	<div class="col-md-12">
		<!-- <h2 align="left"> <span class="fas fa-sitemap"></span>  Workflow of the Demo: </h2> -->
			<div align="center">
				<img src="{% static 'img/motivation.gif' %}" style="width:800px;height:450px;", id="workflow_img" >
			</div>
		<br>
		<br>
	</div>
	<hr class="firsthr">

	<!-- ===========================
	CHOOSE TOPICS
	============================ -->
	<div class="col-md-12">
			<h2 align="left"> <span class="fas fa-tags"></span>  Choose a topic from: </h2>
			<div class="row">
				<!--<div class="col-md-1"></div>-->
				<div class="col-md-12">
					<form action="" method="post", id="topic_form">
						{% csrf_token %}
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option1" value="2742488"> Energy Efficiency in Cloud Computing
							</label>
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option2" value="2830555"> Cache Management for Real-Time Systems
							</label>
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option3" value="2907070"> Predictive Modeling on Imbalanced Data
							</label>
						</div>
						<br>
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option4" value="3073559"> Malware Detection with Data Mining
							</label>
							<label class="btn btn-default" style="height:80px">
								<input type="radio" name="topics" id="option5" value="3274658"> Analysis of Handwritten Signature
							</label>
							<label class="btn btn-info" style="height:80px" onclick="sub_topic()">
								Reference Selection
							</label>

						</div>
						<br>
					</form>
				</div>

						<!--<div class="input-group mb-3">-->
						  <!--<div class="input-group-prepend">-->
							<!--<span class="input-group-text" id="basic-addon1">@</span>-->
						  <!--</div>-->
							<!--<form action="" method="post", id="topic_input">-->
								<!--{% csrf_token %}-->
						  		<!--&lt;!&ndash;<input type="text" class="form-control" name="topics" id="option6" placeholder="Input a topic" aria-label="Username" aria-describedby="basic-addon1">&ndash;&gt;-->
								<!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
							<!--</form>-->
						<!--</div>-->





				<!--<div class="col-md-1"></div>-->
			</div>
			<br>

			<form action="" method="post", id="topic_input" enctype=”multipart/form-data”>
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						<div class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
						</div>
						<div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<input type="text" placeholder="Input topic by yourself" class="form-control" required="required" id="topic_input_box" name="topic">
						</div>
						<div class="col-xs-0 col-sm-0 col-md-0 col-lg-0"></div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-8 file">
							Choose References from your computer (txt form)
							<input id="file" type="file" name="file" multiple onchange="handleFiles(this.files)">
						</div>
						<button type="button" class="col-md-4 btn btn-info" onclick="upload_file()">
							<i class="fa fa-paperclip" aria-hidden="true"></i>Upload Reference
						</button>
					</div>
				</div>

			</form>
	</div>

	<!-- ===========================
     References
    ============================ -->
	<div class="col-md-12" style="display: none" id="refs">
		<h2 align="left"> <span class="fas fa-copy"></span> Here are the Most Related References from Our Dataset: </h2>
		<form action="" method="post", id="ref_form">
			{% csrf_token %}
			<div class="list-group pre-scrollable" id="ref_list">
			</div>
		</form>
		<p align="right"> *(Select the references for instant survey generation)</p>
		<div style="text-align: center">
			<input class="btn btn-info" onclick="display_taxonomy()" value="Automatic Taxonomy">
		</div>
	</div>
	<hr class="firsthr">
	<!-- ===========================
     Taxonomy Result
    ============================ -->
	<div class="col-md-12" style="display: none" id="taxonomy">
		<h2 align="left"> <span class="fas fa-chart-pie"></span> The Categorization Result of Selected References based on Semantic Clustering : </h2>

		<div class="row">
			<div class="col-md-7" style="height:400px;">
				<img src="#" style="width:400px;height:400px;", id="tsne_img">
			</div>
			<div class="col-md-5" style="height:400px;">
					<ul id="legend" style="position: relative;top: 30%;transform: translateY(-30%);">
					</ul>
			</div>
		</div>
		<br>
		<br>
		<hr class="firsthr">
		<div style="text-align: center">
			<input class="btn btn-info" onclick="display_survey()" value="Generate Survey Content" style="width: 200px">
		</div>
	</div>


	<!-- ===========================
     Generated survey
    ============================ -->
	<div class="col-md-12" style="display: none" id="survey">
		<h2 align="left"> <span class="fas fa-scroll"></span> Here is the generated survey: </h2>
		<div class="row">
			<div class="col-md-0"></div>
			<div class="col-md-12">
				<button type="button" class="btn btn-info"  title="This is the Learned Survey Template"
						data-toggle="popover" data-placement="bottom"
						data-content="" id="template" style="float: right;">
					Survey Template
				</button>

			</div>
		</div>
		<div class="container pre-scrollable col-md-12" style="max-height: 700px" id="survey_content">
		</div>
	</div>


</div><!--container end-->

<!-- =========================== Script ============================ -->
{% block script %}
{% endblock%}
<script>

	var global_refs = {};

	const inputElement = document.getElementById("file");
	inputElement.addEventListener("change", handleFiles, false);
	function handleFiles() {
  		const fileList = this.files; /* now you can work with the file list */
	}

    function upload_file(){
		const ref_list = []
    	const fileList = document.getElementById("file").files; /* now you can work with the file list */
  		for (let i = 0, numFiles = fileList.length; i < numFiles; i++) {
  			ref_list.push(fileList[i].name);
  		}
    	$.ajax({
			type: "POST",
			dataType: "json",
			url: "/upload_refs",
			data: {
				'topic': $('#topic_input_box').val(),
				'files': ref_list
			},
			success: function(result) {
				for (let i = 0, len = result['references'].length; i < len; i++) {
					document.getElementById("ref_list").innerHTML += "<div class=\"input-group\"><span class=\"input-group-addon\"><input name=\"refs\" type=\"checkbox\" value="+result['ref_ids'][i] + " checked></span><a href=" + encodeURI(result['ref_links'][i])+ " target=\"_blank\" class=\"list-group-item\">" + result['references'][i] + "</a></div>";
				}
				$("#refs").attr("style","display:inline;");
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.responseText);
				/*
				alert(jqXHR.status);
				alert(jqXHR.readyState);
				alert(jqXHR.statusText);
				alert(textStatus);
				alert(errorThrown);
				*/
			}
		});
	}


    function sub_topic(){
    	//alert($('#topic_form').serialize());
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "/get_topic",
			data: $('#topic_form').serialize(),

			success: function(result) {
				// alert(result);
				for (let i = 0, len = result['references'].length; i < len; i++) {
				// for (const v of result['references']) {
					document.getElementById("ref_list").innerHTML += "<div class=\"input-group\"><span class=\"input-group-addon\"><input name=\"refs\" type=\"checkbox\" value="+result['ref_ids'][i] + " checked></span><a href=" + result['ref_links'][i]+ " target=\"_blank\" class=\"list-group-item\">" + result['references'][i] + "</a></div>";
				}
				$("#refs").attr("style","display:inline;");
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.responseText);
				/*
				alert(jqXHR.status);
				alert(jqXHR.readyState);
				alert(jqXHR.statusText);
				alert(textStatus);
				alert(errorThrown);
				*/
			}
		});
	}


	function display_taxonomy(){
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "/automatic_taxonomy",
			data: $('#ref_form').serialize(),
			success: function(result) {
				// alert("Success!");
				for (let i = 0, len = result['colors'].length; i < len; i++) {
					document.getElementById("legend").innerHTML += "<li class=\"list-group-item\"; style=\"color: "+ result['colors'][i]+" \">" + result['category_label'][i]+" </li>"
				}
				var addr = "static/img/tsne_";
				addr += result['survey_id'];
				addr += ".png";
				$("#tsne_img").attr("src", addr);
				$("#taxonomy").attr("style","display:inline;");
				// alert(result);
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.responseText);
			}
		});
	}



	function display_survey(){
		$.ajax({
			type: "GET",
			dataType: "json",
			url: "/get_survey",
			success: function(result) {
				// alert("Success!");
				// alert(result);
				for(var p in result) {
					if (p == "Title") {
						document.getElementById("survey_content").innerHTML+= "<h1>" + result[p] + "</h1>";
					} else if (p == "Abstract") {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						document.getElementById("survey_content").innerHTML+= "<p><span>" + result[p][0] + " <b>" + result[p][1] + "</b></span></p>";
					} else if (p == "Introduction") {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						document.getElementById("survey_content").innerHTML+= "<p>" + result[p] + "</p>";
					} else if (p == "Conclusion") {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						document.getElementById("survey_content").innerHTML+= "<p>" + result[p] + "</p>";
					} else if (p == "References" ) {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						var cnt = 1;
						for (var entry in result[p]) {
							document.getElementById("survey_content").innerHTML+= "<p style=\"color:black;\">[" + cnt + "]" + "   " + result[p][entry] + "</p>";
							cnt = cnt + 1;
						}


					} else {
						document.getElementById("survey_content").innerHTML+= "<h2 style=\"padding: 0px; color: black\">" + p + "</h2>";
						document.getElementById("survey_content").innerHTML+= "<p>" + result[p][0] + "</p>";
						for(var inner_json in result[p][1]) {
							document.getElementById("survey_content").innerHTML+= "<h3>" + result[p][1][inner_json]["subtitle"] + "</h3>";
							document.getElementById("survey_content").innerHTML+= "<p>" + result[p][1][inner_json]["content"] + "</p>";
						}
					}
				}
				$("#survey").attr("style","display:inline;");
				$("#template").popover({
					html : true,
					/* delay:{show:500, hide:1000},
					container: 'body', */
					content: function() {
					 return content();
					}
				});
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.responseText);
				/*
				alert(jqXHR.status);
				alert(jqXHR.readyState);
				alert(jqXHR.statusText);
				alert(textStatus);
				alert(errorThrown);
				*/
			}
		});

		function content() {
			return "<img src=\'static/img/template.png\' >";
		}
	}

</script>


<!--necessary scripts and plugins-->
{% load static %}
<!--<script src="{% static 'scripts/jquery-1.8.3.min.js' %}"></script>-->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'scripts/evenfly.js' %}"></script>
{% endblock %}
</body>
<footer>
	<h5 align="center" > IMCL NLP Group</h5>
</footer>
</html>
